:root{
    --brown: #4A3F35;
    --lighter-brown: #695f55;
    --cream: #FAF3E0;
    --orange: #D4A373;
    --white: #FFFFFF;
}

@font-face {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    src: url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap.woff2') format('woff2');
}

@keyframes fadeIn{
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes zoom-in-zoom-out {
    0% {transform: scale(1, 1);}
    100%{transform: scale(1.1, 1.1);}
}

*{
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

header{
    background-image: url(../img/mae-mu-0EWWLx_etkw-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 900px;
    text-align: center;
}

nav{
    background-color: var(--brown);
    padding: 24px;
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.sticky{
    /* STICKY MENU */
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1000;

}

header h1{
    color: var(--white);
    padding-top: 350px;
    font-size: xxx-large;
    font-weight: bolder;
}

header p{
    color: var(--white);
}

a{
    color: var(--white);
    text-decoration: none;
}

a:hover{
    animation: fadeIn 0.30s;
    animation-delay: 0.30s;    
    color: var(--orange);
}

body{
    background-color: var(--cream);
}

h2{
    padding-top: 32px;
    margin-bottom: 32px;
    text-align: center;
    color: var(--brown);
}

.cafe-favs{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

.favs{
    display: flex;
    flex-direction: row;
}

.cafes{    
    flex: 30% 30% 30%;
    margin: 16px;
    border-radius: 16px;
    background-color: var(--white);
    border-radius: 16px;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.40);
}

.cafes:hover{
    animation: zoom-in-zoom-out 0.50s;
}

.text-cafes{    
    padding-left: 16px;
    padding-right: 16px;
}

.img-favs{
    height: 200px;
    width: 100%;
    border-radius: 16px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.contact{
    background-color: var(--orange);
    margin-top: 64px;
    padding-bottom: 48px;
}

.form{
    width: 55%;
    margin-left: 22.5%;
    margin-right: 22.5%;
}

input{
    height: 32px;
}

input, textarea{
    width: 100%;
    border: 0;
    border-radius: 3px;
    padding: 8px;
}

.input{
    margin-bottom: 12px;
}

.btn{
    background-color: var(--brown);
    color: var(--white);
    font-weight: 500;
    padding: 8px;
}

.btn:hover{
    background-color: var(--lighter-brown);
}

footer{
    text-align: center;
    color: var(--cream);
    background-color: var(--brown);
    padding: 8px;
    padding-bottom: 24px;
}

i{
    margin: 8px;
}